---
import PageLayout from '@/layouts/BaseLayout.astro'
import ToolSection from '@/components/ToolSection.astro'
import Button from '@/components/Button.astro'

const DEVELOPMENT = [
	{
		name: 'VS Code',
		description: 'IDE',
		href: 'https://code.visualstudio.com/',
		iconBgColour: '#2C2C32'
	},
	{
		name: 'Zed',
		description: 'IDE',
		href: 'https://zed.dev/',
		iconBgColour: '#06A67F'
	},
	{
		name: 'Claude 3.5 Sonnet',
		description: 'LLM with Artifacts',
		href: 'https://claude.ai/',
		iconBgColour: '#06A67F'
	},
	{
		name: 'Ollama (Llama 3.1)',
		description: 'Local LLM',
		href: 'https://ollama.com',
		iconBgColour: '#06A67F'
	},
	{
		name: 'Beyond Compare',
		description: 'Data Comparison Software',
		href: 'https://www.scootersoftware.com/',
		iconBgColour: '#06A67F'
	},
	{
		name: 'Code2Prompt',
		description: 'LLM context prompting CLI tool',
		href: 'https://github.com/raphaelmansuy/code2prompt',
		iconBgColour: '#06A67F'
	}
]
---

<PageLayout meta={{ title: 'Home' }}>
	<div class='w-full'>
		<Button title='Back' href='/' style='button'>
			<svg
				xmlns='http://www.w3.org/2000/svg'
				width='14'
				height='14'
				viewBox='0 0 24 24'
				slot='icon-before'
			>
				<path
					fill='currentColor'
					d='m6.921 12.5l5.792 5.792L12 19l-7-7l7-7l.713.708L6.921 11.5H19v1z'
				>
				</path>
			</svg>
		</Button>

		<div class='mt-5 flex w-full flex-col gap-y-10'>
			<div>
				<h1 class='mb-1 text-2xl font-bold'>Tools</h1>
				<p>Tools and software I use daily</p>
			</div>
			<ToolSection title='Development' tools={DEVELOPMENT} />
		</div>
	</div>
</PageLayout>
