---
import PageLayout from '../layouts/BaseLayout.astro'
import Section from '../components/Section.astro'
import Card from '../components/Card.astro'
import ProjectCard from '../components/ProjectCard.astro'
import Label from '../components/Label.astro'
import SkillLayout from '../components/SkillLayout.astro'
import PostPreview from '@/components/blog/PostPreview.astro'

import { Image } from 'astro:assets'
import astro from '../assets/about-astro.png'

import { getAllPosts, sortMDByDate } from '@/utils'

const languages = ['Python', 'Java', 'JavaScript', 'TypeScript', 'MIPs Assembly']
const frameworks = ['React', 'Node', 'Express', 'Next', 'Hono','Flask', 'FastAPI']
const tools = ['Git', 'Docker', 'SQLite', 'MongoDB', 'Pinecone', 'Firebase', 'Prometheus', 'Grafana', 'Selenium', 'Postman', 'Vercel']

const MAX_POSTS = 10
const allPosts = await getAllPosts()
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS)
---

<PageLayout meta={{ title: 'Home' }}>
	<div class='flex w-full flex-col gap-y-10'>
		<section class='flex flex-col items-center gap-y-7'>
			<div class='flex flex-col items-center gap-y-4'>
				<h1 class='text-3xl font-bold'>JOSHUA KO</h1>
				<div class='flex flex-wrap justify-center gap-x-7 gap-y-3'>
					<Label as='a' href='https://www.linkedin.com/in/joshua-ko-jko/' target='_blank'>
						<svg
							xmlns='http://www.w3.org/2000/svg'
							viewBox='0 0 16 16'
							slot='icon'
							class='h-5 w-5 text-foreground/75'
							><path
								fill='currentColor'
								d='M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854zm4.943 12.248V6.169H2.542v7.225zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248c-.015-.709-.52-1.248-1.342-1.248S2.4 3.226 2.4 3.934c0 .694.521 1.248 1.327 1.248zm4.908 8.212V9.359c0-.216.016-.432.08-.586c.173-.431.568-.878 1.232-.878c.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252c-1.274 0-1.845.7-2.165 1.193v.025h-.016l.016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225z'
							></path></svg
						>
					</Label>

					<Label as='a' href='https://github.com/joshuakojko' target='_blank'>
						<svg
							xmlns='http://www.w3.org/2000/svg'
							viewBox='0 0 16 16'
							slot='icon'
							class='h-5 w-5 text-foreground/75'
						>
							<path
								fill='currentColor'
								d='M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z'
							></path>
						</svg>
					</Label>

					<Label as='a' href='mailto:joshua.ko.jko@gmail.com'>
						<svg
							xmlns='http://www.w3.org/2000/svg'
							viewBox='0 0 24 24'
							slot='icon'
							class='h-5 w-5 text-foreground/75'
						>
							<path
								fill='currentColor'
								d='M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z'
							></path>
						</svg>
					</Label>
				</div>
				<a
					href='/resume'
					class='flex flex-row items-center gap-x-3 rounded-3xl border border-input px-4 py-2 text-sm shadow-sm transition-all hover:shadow-md'
				>
					<span class='relative flex items-center justify-center'>
						<p class='font-medium'>View Resume</p>
					</span>
				</a>
			</div>
			</Section>

			<Section title='About'>
				<p>
					Welcome to my personal website! I'm Joshua Ko, a Computer Science student at
					<a href='https://www.sjsu.edu/cs/' target='_blank' style='color: #1A73E8;'
						> San José State University</a>
					with an interest in building to learn and emerging technologies. <br /><br />
					<b>I am currently a...</b><br />			
					Backend Dev 
					<a href='https://www.acmsjsu.org/' target='_blank' style='color: #1A73E8;'
					> at ACM@SJSU</a
					><br />
					AI/ML Dev
					<a href='https://sce.sjsu.edu/' target='_blank' style='color: #1A73E8;'>@ SJSU SCE</a
					><br />
					Project Member
					<a href='https://mlatsjsu.com/' target='_blank' style='color: #1A73E8;'>@ ML@SJSU</a
					><br /><br />
					<b>Current Interests</b>
					<div>
						<li>Full-Stack AI Applications</li>
						<li>LLM orchestration flows & AI Agents</li>
						<li>Multimodal LLM use cases</li>
					</div>
					<br />
					<b>What you'll find here</b><br />
					An overview of my Experience, Projects, and Skills.<br />
					Developer Tools I use to streamline my coding workflow and enhance my learning experience.<br />
					I'm open to new opportunities, collaborations, and insightful discussions. If anything here interests you, feel free to reach out via my socials linked above. <br />
				</p>
			</Section>
			{
				allPostsByDate.length > 0 && (
					<Section title='Posts'>
						<ul class='flex flex-col gap-y-2'>
							{allPostsByDate.map((p) => (
								<li class='flex flex-col gap-x-2 sm:flex-row'>
									<PostPreview post={p} />
								</li>
							))}
						</ul>
					</Section>
				)
			}

			<Section title='Experience'>
				<Card
					heading='Software Engineering Fellow'
					subheading='Headstarter AI'
					date='July 2024 - September 2024'
					imagePath='/src/assets/headstarter.jpg'
					altText='Lorem, ipsum dolor sit'
					imageClass='h-12 w-auto md:-left-16'
					href='https://www.linkedin.com/company/headstarterai/'
				>
					<!-- 
				<ul class='ml-4 list-disc text-muted-foreground'>
					<li>
						Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore debitis recusandae, ut
						molestiae laboriosam pariatur!

						<li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, pariatur!</li>
					</li>
				</ul>
			-->
				</Card>
				<Card
					heading='Software Engineer Intern'
					subheading='San Jose State University - Software & Computer Engineering Society'
					date='June 2024 - August 2024'
					imagePath='/src/assets/sce.jpg'
					altText='Lorem, ipsum dolor sit'
					imageClass='h-12 w-auto md:-left-16'
					href='https://www.linkedin.com/company/sjsusce/'
				/>
				<Card
					heading='Undergraduate Research Assistant'
					subheading='San Jose State University - Project Engineering Success Program'
					date='September 2023 - May 2024'
					imagePath='/src/assets/sjsu.jpg'
					altText='Lorem, ipsum dolor sit'
					imageClass='h-12 w-auto md:-left-16'
					href='https://sites.google.com/sjsu.edu/engsuccess/home'
				/>
			</Section>

			<Section title='Hackathons'>
				<div class='flex flex-col gap-y-3 sm:flex-row sm:gap-x-3 sm:gap-y-0'>
					<ProjectCard
					href='https://github.com/knhn1004/patent-mate'
					heading='Stanford LLM x Law Hackathon 4 - Patent Mate'
					subheading=''
					imagePath='/src/assets/patent-mate.png'
					altText='Example'
					class='w-full sm:w-1/2'
					/>
					<ProjectCard
						href='https://github.com/knhn1004/hackathon-dealership-voice-ai'
						heading='Headstarter Hackathon (Pam Track) - Car Dealership Voice AI Agent'
						subheading=''
						videoId='Z6Um3GI1khc'
						altText='Example'
						class='w-full sm:w-1/2'
					/>
				</div>
			</Section>

			<Section title='Projects'>
				<div class='flex flex-col gap-y-3 sm:flex-row sm:gap-x-3 sm:gap-y-0'>
					<ProjectCard
					href='https://github.com/joshuakojko/ginder'
					heading='Ginder (Open Source Repo Finder Chatbot)'
					subheading='Next.js, React, TypeScript, Octokit, FlowiseAI, Drizzle ORM, Cloudflare (Workers/Vectorize/D1/KV/AI)'
					videoId='p_BY01QmMlE'
					altText='Example'
					class='w-full sm:w-1/2'
					/>
					<ProjectCard
						href='https://github.com/joshuakojko/flashcards'
						heading='Flashcards (AI Generated Flashcards)'
						subheading='Next.js, React, TypeScript, shadcn/ui, Clerk, Firebase, OpenAI, Zod, Vercel'
						videoId='Gjw7sAN5eds'
						altText='Example'
						class='w-full sm:w-1/2'
					/>
				</div>

				<div class='flex flex-col gap-y-3 sm:flex-row sm:gap-x-3 sm:gap-y-0'>
					<ProjectCard
						href='https://github.com/joshuakojko/novel-reader'
						heading='Novel Reader (Reader Mode Viewer Library)'
						subheading='Python, Flask, SQLite, JavaScript, OAuth, Selenium'
						imagePath='/src/assets/novel-reader-capture.png'
						altText='Example'
						class='w-full sm:w-1/2'
					/>
					<ProjectCard
						href='https://github.com/joshuakojko/pantry-tracker'
						heading='Pantry Tracker (AI Recipe Generator)'
						subheading='Next.js, React, TypeScript, Firebase, OpenRouter API'
						videoId='Qefx1LTka18'
						altText='Example'
						class='w-full sm:w-1/2'
					/>
				</div>
				<div class='flex flex-col gap-y-3 sm:flex-row sm:gap-x-3 sm:gap-y-0'>
					<ProjectCard
						as='div'
						heading='Coming soon...'
						subheading='Raycaster Engine'
						imagePath='/src/assets/raycaster-engine-progress.png'
						altText='Lorem, ipsum dolor sit'
						class='w-full sm:w-1/2'
					/>
					<ProjectCard
						as='div'
						heading='Coming soon...'
						subheading='File Backup Scheduler'
						imagePath='/src/assets/file-backup-scheduler.png'
						altText='Lorem, ipsum dolor sit'
						class='w-full sm:w-1/2'
					/>
				</div>
			</Section>

			<Section title='Skills'>
				<SkillLayout title='Languages' skills={languages} />
				<SkillLayout title='Frameworks' skills={frameworks} />
				<SkillLayout title='Tools' skills={tools} />
			</Section>
		</section>
	</div>
</PageLayout>
